extends layout

block content
  h1 #{title}
  br
  form(action="/deletedata", method="post")
    table.table.table-striped.table-bordered
      tr
        td
          b Device Name
        td
          b Device Type
        td
          b Date Time
        td
          b Latitude
        td
          b Longitude
        td
          b O3
        td
          b CO
        td
          b NO2
        td
          b PM2.5
        td
          b PM10
        td
          b Battery Voltage
        td
          b Delete
      if (typeof dataset === "undefined")
        tr
          td
      else
        each data in dataset
          tr
            td #{data.d_id}
            td #{data.type}
            td #{data.date}
            td #{data.lat}
            td #{data.lng}
            td #{data.o3}
            td #{data.co}
            td #{data.no2}
            td #{data.pm25}
            td #{data.pm10}
            td #{data.volt}
            td
              input(type="checkbox", name="#{data.id}", value="#{!data.deleted}", checked=data.deleted)
    button.btn(type="submit") Update dataset
    
  hr
  br
  div(id="map")

  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_A0so8ksE6PcZgD_cH66o-d_K_NUd_po")
  script(type="text/javascript", src="/javascripts/gmaps.js") 
   
